.controls {
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr / 3rem min-content min-content min-content 3rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    .right {
        margin: auto 0 auto auto;
    }
    .big {
        font-size: 4rem;
    }
    .medium {
        font-size: 3rem;
    }
    .small {
        font-size: 2rem;
    }
    .btn:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}
